/*!
 * Quintsea CSS Addon (quintsea-padding-variants.css)
 */

.p-0 {
    padding: 0 !important;
}

.p-4 {
    padding: 4px !important;
}

.p-8 {
    padding: 8px !important;
}

.p-12 {
    padding: 12px !important;
}

.p-16 {
    padding: 16px !important;
}

.p-20 {
    padding: 20px !important;
}

.p-24 {
    padding: 24px !important;
}

.p-28 {
    padding: 28px !important;
}

.p-32 {
    padding: 32px !important;
}

.p-36 {
    padding: 36px !important;
}

.p-40 {
    padding: 40px !important;
}

.p-44 {
    padding: 44px !important;
}

.p-48 {
    padding: 48px !important;
}

.p-52 {
    padding: 52px !important;
}

.p-56 {
    padding: 56px !important;
}

.p-60 {
    padding: 60px !important;
}

.pt-0 {
    padding-top: 0 !important;
}

.pt-4 {
    padding-top: 4px !important;
}

.pt-8 {
    padding-top: 8px !important;
}

.pt-12 {
    padding-top: 12px !important;
}

.pt-16 {
    padding-top: 16px !important;
}

.pt-20 {
    padding-top: 20px !important;
}

.pt-24 {
    padding-top: 24px !important;
}

.pt-28 {
    padding-top: 28px !important;
}

.pt-32 {
    padding-top: 32px !important;
}

.pt-36 {
    padding-top: 36px !important;
}

.pt-40 {
    padding-top: 40px !important;
}

.pt-44 {
    padding-top: 44px !important;
}

.pt-48 {
    padding-top: 48px !important;
}

.pt-52 {
    padding-top: 52px !important;
}

.pt-56 {
    padding-top: 56px !important;
}

.pt-60 {
    padding-top: 60px !important;
}

.pb-0 {
    padding-bottom: 0 !important;
}

.pb-4 {
    padding-bottom: 4px !important;
}

.pb-8 {
    padding-bottom: 8px !important;
}

.pb-12 {
    padding-bottom: 12px !important;
}

.pb-16 {
    padding-bottom: 16px !important;
}

.pb-20 {
    padding-bottom: 20px !important;
}

.pb-24 {
    padding-bottom: 24px !important;
}

.pb-28 {
    padding-bottom: 28px !important;
}

.pb-32 {
    padding-bottom: 32px !important;
}

.pb-36 {
    padding-bottom: 36px !important;
}

.pb-40 {
    padding-bottom: 40px !important;
}

.pb-44 {
    padding-bottom: 44px !important;
}

.pb-48 {
    padding-bottom: 48px !important;
}

.pb-52 {
    padding-bottom: 52px !important;
}

.pb-56 {
    padding-bottom: 56px !important;
}

.pb-60 {
    padding-bottom: 60px !important;
}

.pl-0 {
    padding-left: 0 !important;
}

.pl-4 {
    padding-left: 4px !important;
}

.pl-8 {
    padding-left: 8px !important;
}

.pl-12 {
    padding-left: 12px !important;
}

.pl-16 {
    padding-left: 16px !important;
}

.pl-20 {
    padding-left: 20px !important;
}

.pl-24 {
    padding-left: 24px !important;
}

.pl-28 {
    padding-left: 28px !important;
}

.pl-32 {
    padding-left: 32px !important;
}

.pl-36 {
    padding-left: 36px !important;
}

.pl-40 {
    padding-left: 40px !important;
}

.pl-44 {
    padding-left: 44px !important;
}

.pl-48 {
    padding-left: 48px !important;
}

.pl-52 {
    padding-left: 52px !important;
}

.pl-56 {
    padding-left: 56px !important;
}

.pl-60 {
    padding-left: 60px !important;
}

.pr-0 {
    padding-right: 0 !important;
}

.pr-4 {
    padding-right: 4px !important;
}

.pr-8 {
    padding-right: 8px !important;
}

.pr-12 {
    padding-right: 12px !important;
}

.pr-16 {
    padding-right: 16px !important;
}

.pr-20 {
    padding-right: 20px !important;
}

.pr-24 {
    padding-right: 24px !important;
}

.pr-28 {
    padding-right: 28px !important;
}

.pr-32 {
    padding-right: 32px !important;
}

.pr-36 {
    padding-right: 36px !important;
}

.pr-40 {
    padding-right: 40px !important;
}

.pr-44 {
    padding-right: 44px !important;
}

.pr-48 {
    padding-right: 48px !important;
}

.pr-52 {
    padding-right: 52px !important;
}

.pr-56 {
    padding-right: 56px !important;
}

.pr-60 {
    padding-right: 60px !important;
}

.ph-0 {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.ph-4 {
    padding-right: 4px !important;
    padding-left: 4px !important;
}

.ph-8 {
    padding-right: 8px !important;
    padding-left: 8px !important;
}

.ph-12 {
    padding-right: 12px !important;
    padding-left: 12px !important;
}

.ph-16 {
    padding-right: 16px !important;
    padding-left: 16px !important;
}

.ph-20 {
    padding-right: 20px !important;
    padding-left: 20px !important;
}

.ph-24 {
    padding-right: 24px !important;
    padding-left: 24px !important;
}

.ph-28 {
    padding-right: 28px !important;
    padding-left: 28px !important;
}

.ph-32 {
    padding-right: 32px !important;
    padding-left: 32px !important;
}

.ph-36 {
    padding-right: 36px !important;
    padding-left: 36px !important;
}

.ph-40 {
    padding-right: 40px !important;
    padding-left: 40px !important;
}

.ph-44 {
    padding-right: 44px !important;
    padding-left: 44px !important;
}

.ph-48 {
    padding-right: 48px !important;
    padding-left: 48px !important;
}

.ph-52 {
    padding-right: 52px !important;
    padding-left: 52px !important;
}

.ph-56 {
    padding-right: 56px !important;
    padding-left: 56px !important;
}

.ph-60 {
    padding-right: 60px !important;
    padding-left: 60px !important;
}

.pv-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.pv-4 {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}

.pv-8 {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

.pv-12 {
    padding-top: 12px !important;
    padding-bottom: 12px !important;
}

.pv-16 {
    padding-top: 16px !important;
    padding-bottom: 16px !important;
}

.pv-20 {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

.pv-24 {
    padding-top: 24px !important;
    padding-bottom: 24px !important;
}

.pv-28 {
    padding-top: 28px !important;
    padding-bottom: 28px !important;
}

.pv-32 {
    padding-top: 32px !important;
    padding-bottom: 32px !important;
}

.pv-36 {
    padding-top: 36px !important;
    padding-bottom: 36px !important;
}

.pv-40 {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
}

.pv-44 {
    padding-top: 44px !important;
    padding-bottom: 44px !important;
}

.pv-48 {
    padding-top: 48px !important;
    padding-bottom: 48px !important;
}

.pv-52 {
    padding-top: 52px !important;
    padding-bottom: 52px !important;
}

.pv-56 {
    padding-top: 56px !important;
    padding-bottom: 56px !important;
}

.pv-60 {
    padding-top: 60px !important;
    padding-bottom: 60px !important;
}