.alert {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    position: relative;
    padding: 20px 24px;
    border: var(--stroke) solid var(--color);
    border-radius: var(--radius-md);
    line-height: 1.75;
}

.alert>*:not(.glyph) {
    flex: 1;
    margin: auto 0;
}

.alert a {
    color: var(--color) !important;
}

.alert a:hover {
    text-underline-offset: 5px;
    text-decoration: underline;
}

.alert::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: -3px;
    transform: translateY(-50%);
    width: 5px;
    height: 24px;
    background-color: var(--color);
    border-radius: 99px;
}

.alert::before {
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    content: '';
    display: block;
    position: relative;
    width: 24px;
    height: 24px;
    margin: auto 0;
    background-color: var(--color);
}

.alert.warning::before {
    mask: var(--icon-warning);
}

.alert.success::before {
    mask: var(--icon-success);
}

.alert.info::before {
    mask: var(--icon-info);
}

.alert.error::before {
    mask: var(--icon-error);
}

.alert.primary::before,
.alert.icon::before {
    display: none;
}

.alert.icon .glyph {
    margin: auto 0;
    color: var(--color);
}

[dark-mode=true] .alert {
    background-color: var(--color-10);
}