[class*=bg-] {
    background-color: var(--color) !important;
    background-repeat: repeat;
    background-position: center;
}

.bg-grid {
    background-image: var(--bg-grid);
}

.bg-dot {
    background-image: var(--bg-dot);
}

.bg-graph {
    background-image: var(--bg-graph);
}

.bg-stripe {
    background-image: var(--bg-stripe);
}

.bg-plus {
    background-image: var(--bg-plus);
}

.bg-times {
    background-image: var(--bg-times);
}

.bg-cube {
    background-image: var(--bg-cube);
}

.bg-rhombus {
    background-image: var(--bg-rhombus);
}