.breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    font-size: var(--font-size-md);
    line-height: 1;
    list-style: none;
}

.breadcrumbs>li {
    flex-shrink: 1;
    position: relative;
    max-width: 240px;
    margin: auto 0;
    padding: 2px 0;
}

.breadcrumbs>li .glyph {
    font-variation-settings: 'FILL'1;
    display: flex;
    font-size: 20px;
}

.breadcrumbs>li:last-child:not(:first-child) {
    pointer-events: none;
    font-weight: var(--font-semibold);
}

.breadcrumbs>li:nth-child(n+2) {
    display: flex;
    align-items: center;
    gap: 8px;
}

.breadcrumbs>li span,
.breadcrumbs>li:nth-child(n+2) a {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.breadcrumbs>li:nth-child(n+2):before {
    mask: var(--icon-caret) no-repeat center / contain;
    content: '';
    display: block;
    transform: rotate(-90deg);
    width: 16px;
    height: 16px;
    background-color: var(--mono-50);
}