.breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    font-size: var(--font-size-md);
    line-height: 1;
    list-style: none;
}

.breadcrumbs>li {
    flex-shrink: 1;
    position: relative;
    overflow: hidden;
    max-width: 240px;
    margin: auto 0;
    padding: 2px 0;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.breadcrumbs>li .glyph {
    font-variation-settings: 'FILL'1;
    display: flex;
    font-size: 20px;
}

.breadcrumbs>li:last-child:not(:first-child) {
    pointer-events: none;
    font-weight: var(--font-semibold);
}

.breadcrumbs>li:nth-child(n+2) {
    padding-left: 28px;
}

.breadcrumbs>li+li:before {
    mask: var(--icon-caret) no-repeat center / contain;
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 6px;
    transform: translateY(-50%) rotate(-90deg);
    width: 16px;
    height: 16px;
    background-color: var(--mono-50);
}