.btn {
    display: inline-flex;
    align-items: center;
    gap: 14px;
    position: relative;
    min-width: 0;
    height: var(--btn-height);
    padding-right: var(--btn-padding-x);
    padding-left: var(--btn-padding-x);
    transition: var(--ease);
    background-color: var(--color);
    border: 0;
    border-radius: var(--radius-md);
    font-size: var(--font-size-md);
    line-height: 1.4;
    color: var(--text-btn) !important;
    text-decoration: none !important;
}

.btn:hover {
    background-color: var(--color-dark);
}

.btn::before {
    will-change: box-shadow, opacity;
    content: '';
    display: block;
    position: absolute;
    z-index: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: box-shadow var(--ease), opacity var(--ease);
    border: var(--btn-stroke) solid transparent;
    border-radius: inherit;
}

.btn>* {
    position: relative;
    z-index: 1;
}

.btn:not(.btn.wide):not(.btn-sq)>.glyph {
    margin-right: -1px;
    margin-left: -1px;
}

.btn img,
.btn svg {
    width: auto;
    height: 22px;
}

.btn span b,
.btn span strong,
.btn span small {
    display: block;
    position: relative;
    line-height: 1;
}

.btn span small:first-child {
    top: 1px;
}

.btn span small+b,
.btn span small+strong {
    margin-top: 8px;
}

.btn span b+small,
.btn span strong+small {
    margin-top: 8px;
}

.btn.btn-xs {
    --btn-height: 24px;
    --btn-padding-x: 10px;
    gap: 6px;
    height: var(--btn-height);
    border-radius: var(--radius-xs);
    font-size: var(--font-size-sm);
}

.btn.btn-xs.ext {
    --btn-height: 28px;
    --btn-padding-x: 12px;
    gap: 8px;
}

.btn.btn-sm {
    --btn-height: 32px;
    --btn-padding-x: 12px;
    gap: 12px;
    height: var(--btn-height);
    border-radius: var(--radius-sm);
    font-size: calc(var(--font-size-sm) + 1px);
}

.btn.btn-sm.ext {
    --btn-height: 36px;
    --btn-padding-x: 14px;
}

.btn.btn-md {
    --btn-height: 40px;
    --btn-padding-x: 16px;
    height: var(--btn-height);
}

.btn.btn-md.ext {
    --btn-height: 44px;
    --btn-padding-x: 18px;
}

.btn.btn-lg {
    --btn-padding-x: 24px;
    --btn-height: 56px;
    height: var(--btn-height);
    font-size: 16px;
}

.btn.btn-xl {
    --btn-padding-x: 28px;
    --btn-height: 64px;
    height: var(--btn-height);
    font-size: 18px;
}

.btn.btn-sq {
    justify-content: center;
    width: var(--btn-height);
    min-width: var(--btn-height);
    padding: 0;
    text-align: center;
}

.btn.btn-a {
    height: unset !important;
    padding: 0;
    background-color: transparent;
    border-radius: 0;
    line-height: unset;
    color: var(--color) !important;
}

.btn.btn-a.text-underline::after {
    pointer-events: none;
    content: '';
    display: block;
    position: absolute;
    bottom: -4px;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .15s ease;
    border-bottom: 1px solid var(--primary);
}

.btn.btn-a.text-underline:hover::after {
    opacity: 1;
}

.btn.btn-b {
    display: flex;
}

.btn.btn-c {
    --btn-padding-x: 0;
}

.btn.btn-h {
    height: unset !important;
    min-height: 48px;
    padding-top: var(--btn-padding-y);
    padding-bottom: var(--btn-padding-y);
}

.btn.btn-i,
.btn.btn-i.btn-o {
    box-shadow: unset !important;
    overflow: unset;
    width: unset !important;
    height: unset;
    padding: 0 !important;
    background-color: transparent !important;
    border-color: transparent !important;
    font-size: inherit;
    color: var(--text) !important;
    text-align: unset;
}

.btn.btn-i:hover {
    background-color: transparent;
    color: var(--color) !important;
}

.btn.btn-i::before {
    display: none;
}

.btn.btn-i img {
    width: auto;
    height: var(--btn-height);
    transition: box-shadow var(--ease);
    border-radius: inherit;
}

.btn.btn-i:hover img {
    box-shadow: 0 0 0 3px var(--color);
}

.btn.btn-i figure {
    border-radius: inherit;
}

.btn.btn-i.btn-o figure img {
    box-shadow: unset;
}

.btn.btn-i.btn-o figure::before {
    box-shadow: 0 0 0 2px inset var(--color);
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    top: -4px;
    bottom: -4px;
    left: -4px;
    right: -4px;
    transition: box-shadow var(--ease);
    border-radius: inherit;
}

.btn.btn-i.btn-o:hover figure::before {
    box-shadow: 0 0 0 4px inset var(--color);
}

.btn.btn-i.btn-o:not(.btn-p) figure {
    border-radius: calc(var(--radius-md) + 4px);
}

.btn.btn-i.btn-o:not(.btn-p) figure img {
    border-radius: var(--radius-md);
}

.btn.btn-l {
    background-color: var(--color-30);
    color: var(--color-darker) !important;
}

.btn.btn-l:not(.btn-o)::before {
    border-color: var(--color);
}

.btn.btn-l:not(.btn-o).default::before,
.btn.btn-l:not(.btn-o).black::before {
    border-color: var(--text);
}

.btn.btn-l:hover::before,
.btn.btn-l.default:hover:before,
.btn.btn-l.black:hover:before {
    opacity: 1;
}

.btn.btn-o {
    padding-right: calc(var(--btn-padding-x) - var(--btn-stroke));
    padding-left: calc(var(--btn-padding-x) - var(--btn-stroke));
    background-color: transparent;
    border: var(--btn-stroke) solid transparent;
    border-color: var(--color);
    color: var(--color-dark) !important;
}

.btn.btn-o:hover {
    background-color: var(--color-20);
}

.btn.btn-o::before {
    box-shadow: 0 0 0 0 inset var(--color);
    top: calc(var(--btn-stroke) * -1);
    bottom: calc(var(--btn-stroke) * -1);
    left: calc(var(--btn-stroke) * -1);
    right: calc(var(--btn-stroke) * -1);
    opacity: 1;
    background-color: transparent;
}

.btn.btn-o:hover::before {
    box-shadow: 0 0 0 1px inset var(--color);
}

.btn.btn-o.default,
.btn.btn-o.btn-l.default:hover {
    border-color: var(--mono-40) !important;
}

.btn.btn-o.default:hover::before {
    box-shadow: 0 0 0 1px inset var(--mono-40);
}

.btn.btn-o.btn-l {
    background-color: var(--color-10);
    border-color: var(--color-40);
}

.btn.btn-o.btn-l:hover {
    border-color: var(--color);
}

.btn.btn-p {
    padding-right: calc(var(--btn-padding-x) + 4px);
    padding-left: calc(var(--btn-padding-x) + 4px);
    border-radius: 99px !important;
}

.btn.btn-t {
    box-shadow: unset !important;
    background-color: transparent !important;
    border: 0 !important;
    color: var(--text) !important;
}

.btn.btn-t:hover {
    color: var(--color) !important;
}

.btn.btn-u {
    --btn-padding-x: 0;
    background-color: transparent;
    border-bottom: var(--btn-stroke) solid transparent;
    border-radius: 0;
    color: var(--color-dark) !important;
}

.btn.btn-u:hover {
    border-color: var(--color);
}

.btn.default {
    color: var(--text) !important;
}

.btn.black:not(.btn-l):not(.btn-o) {
    color: var(--text-reverse) !important;
}

.btn.yellow:not(.btn-l):not(.btn-o) {
    color: var(--black) !important;
}

.btn.text-center {
    justify-content: center;
}

.btn.brand:not(.btn-l) {
    color: var(--text-reverse) !important;
}

.btn.brand:hover::before {
    opacity: .15;
}

.btn.brand.btn-l::before {
    background-color: transparent;
    border: var(--btn-stroke) solid currentColor;
}

.btn.brand.btn-l:hover::before {
    opacity: 1;
}