.copy-notif {
    box-shadow: var(--shadow-md);
    backdrop-filter: blur(2px);
    pointer-events: none;
    will-change: opacity, transform;
    display: flex;
    align-items: center;
    gap: 20px;
    position: fixed;
    z-index: 99999;
    top: 24px;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -100px);
    padding: 16px 28px;
    transition: opacity .2s var(--cubic), transform .25s var(--cubic);
    background-color: var(--tooltip);
    border-radius: 99px;
    font-size: var(--font-size-md);
    line-height: 1.4;
    color: var(--mono-00);
}

.copy-notif::before {
    mask: var(--icon-done) no-repeat center / 24px;
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    background-color: var(--green);
}

.copy-notif span u {
    display: block;
    overflow: hidden;
    max-width: 220px;
    text-decoration: unset;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.copy-notif.show {
    opacity: 1;
    transform: translate(-50%, 0);
}