.gap-0 {
    gap: 0 !important;
}

.gap-4 {
    gap: 4px !important;
}

.gap-8 {
    gap: 8px !important;
}

.gap-12 {
    gap: 12px !important;
}

.gap-16 {
    gap: 16px !important;
}

.gap-20 {
    gap: 20px !important;
}

.gap-24 {
    gap: 24px !important;
}

.gap-28 {
    gap: 28px !important;
}

.gap-32 {
    gap: 32px !important;
}

.gap-36 {
    gap: 36px !important;
}

.gap-40 {
    gap: 40px !important;
}

.gap-44 {
    gap: 44px !important;
}

.gap-48 {
    gap: 48px !important;
}

.row-gap-4 {
    row-gap: 4px !important;
}

.row-gap-8 {
    row-gap: 8px !important;
}

.row-gap-12 {
    row-gap: 12px !important;
}

.row-gap-16 {
    row-gap: 16px !important;
}

.row-gap-20 {
    row-gap: 20px !important;
}

.row-gap-24 {
    row-gap: 24px !important;
}

.row-gap-28 {
    row-gap: 28px !important;
}

.row-gap-32 {
    row-gap: 32px !important;
}

.row-gap-36 {
    row-gap: 36px !important;
}

.row-gap-40 {
    row-gap: 40px !important;
}

.row-gap-44 {
    row-gap: 44px !important;
}

.row-gap-48 {
    row-gap: 48px !important;
}