.gap-0 {
    gap: 0;
}

.gap-4 {
    gap: 4px;
}

.gap-8 {
    gap: 8px;
}

.gap-12 {
    gap: 12px;
}

.gap-16 {
    gap: 16px;
}

.gap-20 {
    gap: 20px;
}

.gap-24 {
    gap: 24px;
}

.gap-28 {
    gap: 28px;
}

.gap-32 {
    gap: 32px;
}

.gap-36 {
    gap: 36px;
}

.gap-40 {
    gap: 40px;
}

.gap-44 {
    gap: 44px;
}

.gap-48 {
    gap: 48px;
}

.row-gap-4 {
    row-gap: 4px;
}

.row-gap-8 {
    row-gap: 8px;
}

.row-gap-12 {
    row-gap: 12px;
}

.row-gap-16 {
    row-gap: 16px;
}

.row-gap-20 {
    row-gap: 20px;
}

.row-gap-24 {
    row-gap: 24px;
}

.row-gap-28 {
    row-gap: 28px;
}

.row-gap-32 {
    row-gap: 32px;
}

.row-gap-36 {
    row-gap: 36px;
}

.row-gap-40 {
    row-gap: 40px;
}

.row-gap-44 {
    row-gap: 44px;
}

.row-gap-48 {
    row-gap: 48px;
}