.caret::before {
    mask: var(--icon-caret) no-repeat center / 24px;
    content: '';
    display: block;
    width: 14px;
    height: 14px;
    background-color: currentColor;
}

.close::before {
    mask: var(--icon-plus) no-repeat center / 24px;
    content: '';
    display: block;
    transform: rotate(45deg);
    width: 24px;
    height: 24px;
    background-color: currentColor;
}

.fab {
    font-size: 20px;
}

.glyph {
    direction: ltr;
    font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-size: 24px;
    font-family: var(--glyph);
    font-style: normal;
    font-weight: 400 !important;
    line-height: 1 !important;
    text-decoration: none !important;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
}

.glyph.fill {
    font-variation-settings: 'FILL'1 !important;
}

.glyph.new {
    position: relative;
}

.glyph.new::after {
    content: '';
    display: block;
    position: absolute;
    top: -2px;
    right: -2px;
    width: 12px;
    height: 12px;
    background-color: var(--red-dark);
    border: 2px solid var(--card);
    border-radius: 50%;
}

.glyph.emoji {
    font-size: 20px;
    font-family: var(--font-1);
}