.caret {
    filter: var(--brigtness-reverse);
    display: flex;
    position: relative;
    width: 20px;
    height: 16px;
    background-image: var(--icon-chevron-down);
    background-repeat: no-repeat;
    background-position: center;
}

.caret.secondary {
    background-image: var(--icon-chevron-down2);
}

.close {
    display: flex;
    width: 20px;
    height: 20px;
    background-image: var(--icon-times);
    background-repeat: no-repeat;
    background-position: center;
}

.fab {
    font-size: 20px;
}

.glyph {
    direction: ltr;
    font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-size: 24px;
    font-family: var(--glyph);
    font-style: normal;
    font-weight: 400 !important;
    line-height: 1 !important;
    text-decoration: none !important;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
}

.glyph.fill {
    font-variation-settings: 'FILL'1 !important;
}

.glyph.new {
    position: relative;
}

.glyph.new::after {
    box-shadow: 0 0 0 2px var(--card);
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 8px;
    height: 8px;
    background-color: var(--red-dark);
    border-radius: 50%;
}

.glyph.emoji {
    font-size: 20px;
}