.container {
    max-width: calc(var(--container) + var(--container-padding) + var(--container-padding));
    margin: 0 auto;
    padding-right: var(--container-padding);
    padding-left: var(--container-padding);
}

[aria-readonly=true] {
    pointer-events: none;
}

.inherit {
    display: inherit;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.overflow-h {
    overflow: hidden;
}

.overflow-xa {
    overflow-x: auto;
}

.h-center {
    justify-content: center !important;
}

.h-left {
    justify-content: start !important;
}

.h-right {
    justify-content: end !important;
}

.h-fluid>* {
    flex: 1;
    max-width: unset;
}

.v-center {
    align-items: center !important;
}

.v-start {
    align-items: start !important;
}

.v-end {
    align-items: end !important;
}

.shadow-sm {
    box-shadow: var(--shadow-sm);
}

.shadow-md {
    box-shadow: var(--shadow-md);
}

.shadow-lg {
    box-shadow: var(--shadow-lg);
}

.shadow-xl {
    box-shadow: var(--shadow-xl);
}

.block {
    display: block !important;
}

.inline {
    display: inline !important;
}