.navbar {
    display: flex;
    flex-wrap: wrap;
    column-gap: var(--navbar-padding);
    position: relative;
    z-index: 99991;
    min-width: 0;
    padding: var(--navbar-spacing) var(--navbar-padding);
    font-size: 14px;
}

.navbar.fixed {
    position: fixed;
    z-index: 99992;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--card);
}

.navbar.absolute {
    top: 0;
    left: 0;
    right: 0;
}

.navbar.sticky {
    position: relative;
    z-index: 99993;
    top: auto;
    left: unset;
    right: 0;
    background-color: var(--card);
}

.navbar.sticky.fix {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.navbar.sticky.end {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.navbar.color {
    background-color: var(--color);
}

.navbar.color a,
.navbar.color a.btn-i {
    color: var(--text-reverse) !important;
}

.navbar.color a:not(.btn):hover {
    opacity: .75;
}

.navbar>.container,
.navbar>.fluid {
    display: flex;
    flex-wrap: wrap;
    gap: var(--navbar-padding);
    width: 100%;
    min-width: 0;
}

.navbar.sticky>.container {
    max-width: var(--container);
    padding-right: 0;
    padding-left: 0;
}

.container .navbar.sticky.fix {
    max-width: calc(var(--container) + var(--container-padding) + var(--container-padding));
    margin: 0 auto;
}

.container .navbar.fluid.sticky:not(.fix) {
    max-width: unset;
    margin-right: calc(var(--container-padding) * -1);
    margin-left: calc(var(--container-padding) * -1);
}

.container .navbar:not(.fluid).sticky.fix {
    clip-path: inset(0 var(--container-padding));
    border-right: var(--container-padding) solid transparent;
    border-left: var(--container-padding) solid transparent;
}

.navbar-logo {
    margin: auto 0;
}

.navbar-logo a {
    display: flex;
    font-weight: var(--font-semibold);
}

.navbar-logo a:not(.btn-i) img {
    max-width: 160px;
    max-height: 48px;
}

.navbar-logo a>b {
    font-size: 18px;
}

.navbar:not(.color) .navbar-logo a.btn-i:hover {
    color: var(--primary) !important;
}

.navbar nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--navbar-gap);
    position: relative;
    margin: auto 0;
}

.navbar nav.right {
    margin-left: auto;
}

.navbar nav.center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navbar nav>* {
    position: relative;
    z-index: 1;
}

.navbar nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--navbar-gap);
}

.navbar nav ul li {
    margin: auto 0;
}

.navbar nav a:not(.btn) {
    display: flex;
    align-items: center;
    gap: 12px;
    position: relative;
    height: 48px;
    padding-bottom: 1px;
    line-height: 1.2;
}

.navbar nav .btn {
    display: flex;
}

.navbar nav .caret {
    margin-left: -6px;
}

.navbar nav .divider {
    display: block;
    color: var(--mono-30);
}

.navbar nav .divider.line {
    height: 24px;
    border-left: 1px solid var(--mono-30);
}

.navbar nav .divider.dot {
    width: 4px;
    height: 4px;
    background-color: var(--mono-30);
    border-left: 0;
    border-radius: 50%;
}

.navbar.color .glyph.new::after {
    border-color: var(--color);
}