.r-0 {
    border-radius: 0 !important;
}

.r-8 {
    border-radius: 8px !important;
}

.r-10 {
    border-radius: 10px !important;
}

.r-12 {
    border-radius: 12px !important;
}

.r-14 {
    border-radius: 14px !important;
}

.r-16 {
    border-radius: 16px !important;
}

.r-18 {
    border-radius: 18px !important;
}

.r-20 {
    border-radius: 20px !important;
}

.r-22 {
    border-radius: 22px !important;
}

.r-24 {
    border-radius: 24px !important;
}

.r-50 {
    border-radius: 50% !important;
}

.b-0 {
    border: 0 !important;
}