:root {
    --font-1: 'Poppins';
    --font-2: 'Space Mono';
    --glyph: 'Material Symbols Rounded';
    --font-regular: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;
    --font-size: 16px;
    --stroke: 1px;
    --stroke-min: -1px;
    --feed: 240px;
    --feed-2x: 360px;
    --feed-3x: 480px;
    --radius-xs: 6px;
    --radius-sm: 8px;
    --radius-md: 12px;
    --radius-lg: 16px;
    --radius-xl: 24px;
    --backdrop: rgba(24, 24, 27, .6);
    --backdrop-alt: rgba(24, 24, 27, .75);
    --tooltip: rgba(24, 24, 27, .75);
    --cubic: cubic-bezier(0.4, 0, 0.2, 1);
    --cubic-alt: cubic-bezier(0.22, 1, 0.36, 1);
    --ease: .15s ease;
    --shadow-sm: 0 2px 4px rgba(0, 0, 0, 0.08);
    --shadow-md: 0 4px 8px rgba(0, 0, 0, 0.10);
    --shadow-lg: 0 8px 20px rgba(0, 0, 0, 0.12);
    --shadow-xl: 0 12px 32px rgba(0, 0, 0, 0.14);
    --shadow-subtle: 0 1px 3px rgba(0, 0, 0, 0.06), 0 4px 12px rgba(0, 0, 0, 0.08);
    --mono-00: #FFFFFF;
    --mono-05: #F9FAFB;
    --mono-10: #F8F8FA;
    --mono-20: #F0F1F4;
    --mono-30: #E0E2E6;
    --mono-40: #C9CCD3;
    --mono-50: #A9ADB7;
    --mono-60: #7F8490;
    --mono-70: #3A3C42;
    --bg: var(--mono-00);
    --card: var(--mono-00);
    --dropdown: var(--mono-00);
    --text: #3A3C42;
    --text-reverse: #FCFAFB;
    --text2-reverse: #FFFFFF;
    --odd: var(--mono-10);
    --brigtness: brightness(5);
    --brigtness-reverse: unset;
    --white: #FCFAFB;
    --white-10: #FCFAFB0D;
    --white-20: #FCFAFB26;
    --white-30: #FCFAFB3F;
    --white-40: #FCFAFB59;
    --black: #3A3C42;
    --black-10: #3A3C420D;
    --black-20: #3A3C4226;
    --black-30: #3A3C423F;
    --black-40: #3A3C4259;
    --primary: #7689FF;
    --primary-dark: #6A7CEB;
    --primary-darker: #5C6DD7;
    --primary-10: #7689FF0D;
    --primary-20: #7689FF26;
    --primary-30: #7689FF40;
    --primary-40: #7689FF59;
    --red: #E57368;
    --red-dark: #D66559;
    --red-darker: #C55749;
    --red-10: #E573680D;
    --red-20: #E5736826;
    --red-30: #E5736840;
    --red-40: #E5736859;
    --pink: #EC7FA0;
    --pink-dark: #DE7294;
    --pink-darker: #CB6181;
    --pink-10: #EC7FA00D;
    --pink-20: #EC7FA026;
    --pink-30: #EC7FA040;
    --pink-40: #EC7FA059;
    --purple: #9C8EDF;
    --purple-dark: #8D80D1;
    --purple-darker: #7B6FBD;
    --purple-10: #9C8EDF0D;
    --purple-20: #9C8EDF26;
    --purple-30: #9C8EDF40;
    --purple-40: #9C8EDF59;
    --blue: #6EA8E9;
    --blue-dark: #619BD9;
    --blue-darker: #5187C5;
    --blue-10: #6EA8E90D;
    --blue-20: #6EA8E926;
    --blue-30: #6EA8E940;
    --blue-40: #6EA8E959;
    --teal: #4DD8C8;
    --teal-dark: #41CBBE;
    --teal-darker: #37B4A9;
    --teal-10: #4DD8C810;
    --teal-20: #4DD8C820;
    --teal-30: #4DD8C830;
    --teal-40: #4DD8C840;
    --green: #65D88C;
    --green-dark: #58CB7F;
    --green-darker: #4AAA6C;
    --green-10: #65D88C0D;
    --green-20: #65D88C26;
    --green-30: #65D88C40;
    --green-40: #65D88C59;
    --yellow: #FFD866;
    --yellow-dark: #F5C95C;
    --yellow-darker: #E0B54D;
    --yellow-10: #FFD86610;
    --yellow-20: #FFD86620;
    --yellow-30: #FFD86630;
    --yellow-40: #FFD86640;
    --orange: #FFAD61;
    --orange-dark: #F29E55;
    --orange-darker: #DE8D45;
    --orange-10: #FFAD610D;
    --orange-20: #FFAD6126;
    --orange-30: #FFAD6140;
    --orange-40: #FFAD6159;
    --brown: #A8835A;
    --brown-dark: #9B7852;
    --brown-darker: #896A47;
    --brown-10: #A8835A0D;
    --brown-20: #A8835A26;
    --brown-30: #A8835A40;
    --brown-40: #A8835A59;
    --default: #ECEFF1;
    --default-dark: #DDE0E3;
    --default-darker: #CBCFD4;
    --default-10: #ECEFF126;
    --default-20: #ECEFF159;
    --default-30: #ECEFF18C;
    --default-40: #ECEFF1BF;
    --dark: #3A3C42;
    --dark-dark: #2F3035;
    --dark-darker: #2C2D31;
    --dark-10: #3A3C420D;
    --dark-20: #3A3C4226;
    --dark-30: #3A3C423F;
    --dark-40: #3A3C4259;
    --icon-chevron-down: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="%233A3C42"><path d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z"/></svg>');
    --icon-chevron-down2: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="%23A9ADB7"><path d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z"/></svg>');
    --icon-chevron-right: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="%23A9ADB7"><path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z"/></svg>');
    --icon-plus: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="%23A9ADB7"><path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z"/></svg>');
    --icon-times: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="%23A9ADB7"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg>');
    --icon-quotes: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24" fill="%237689FF"><path d="m262-300 58-100q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 23-5.5 42.5T458-480L331-260q-5 9-14 14.5t-20 5.5q-23 0-34.5-20t-.5-40Zm360 0 58-100q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 23-5.5 42.5T818-480L691-260q-5 9-14 14.5t-20 5.5q-23 0-34.5-20t-.5-40Z"/></svg>');
    --icon-error: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="%23E57368"><path d="M480-79q-16 0-30.5-6T423-102L102-423q-11-12-17-26.5T79-480q0-16 6-31t17-26l321-321q12-12 26.5-17.5T480-881q16 0 31 5.5t26 17.5l321 321q12 11 17.5 26t5.5 31q0 16-5.5 30.5T858-423L537-102q-11 11-26 17t-31 6Zm0-361q17 0 28.5-11.5T520-480v-160q0-17-11.5-28.5T480-680q-17 0-28.5 11.5T440-640v160q0 17 11.5 28.5T480-440Zm0 120q17 0 28.5-11.5T520-360q0-17-11.5-28.5T480-400q-17 0-28.5 11.5T440-360q0 17 11.5 28.5T480-320Z"/></svg>');
    --icon-warning: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="%23FFAD61"><path d="M109-120q-11 0-20-5.5T75-140q-5-9-5.5-19.5T75-180l370-640q6-10 15.5-15t19.5-5q10 0 19.5 5t15.5 15l370 640q6 10 5.5 20.5T885-140q-5 9-14 14.5t-20 5.5H109Zm371-120q17 0 28.5-11.5T520-280q0-17-11.5-28.5T480-320q-17 0-28.5 11.5T440-280q0 17 11.5 28.5T480-240Zm0-120q17 0 28.5-11.5T520-400v-120q0-17-11.5-28.5T480-560q-17 0-28.5 11.5T440-520v120q0 17 11.5 28.5T480-360Z"/></svg>');
    --icon-info: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="%236EA8E9"><path d="M480-280q17 0 28.5-11.5T520-320v-160q0-17-11.5-28.5T480-520q-17 0-28.5 11.5T440-480v160q0 17 11.5 28.5T480-280Zm0-320q17 0 28.5-11.5T520-640q0-17-11.5-28.5T480-680q-17 0-28.5 11.5T440-640q0 17 11.5 28.5T480-600Zm0 520q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Z"/></svg>');
    --icon-success: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="%2365D88C"><path d="M360-120q-100 0-170-70t-70-170v-240q0-100 70-170t170-70h240q100 0 170 70t70 170v240q0 100-70 170t-170 70H360Zm80-312-60-60q-11-11-28-11t-28 11q-11 11-11 28t11 28l88 88q12 12 28 12t28-12l184-184q11-11 11-28t-11-28q-11-11-28-11t-28 11L440-432Z"/></svg>');
    --icon-announcements: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="%237689FF"><path d="M840-440h-80q-17 0-28.5-11.5T720-480q0-17 11.5-28.5T760-520h80q17 0 28.5 11.5T880-480q0 17-11.5 28.5T840-440ZM664-288q10-14 26-16t30 8l64 48q14 10 16 26t-8 30q-10 14-26 16t-30-8l-64-48q-14-10-16-26t8-30Zm120-424-64 48q-14 10-30 8t-26-16q-10-14-8-30t16-26l64-48q14-10 30-8t26 16q10 14 8 30t-16 26ZM200-360h-40q-33 0-56.5-23.5T80-440v-80q0-33 23.5-56.5T160-600h160l139-84q20-12 40.5 0t20.5 35v338q0 23-20.5 35t-40.5 0l-139-84h-40v120q0 17-11.5 28.5T240-200q-17 0-28.5-11.5T200-240v-120Zm360 14v-268q27 24 43.5 58.5T620-480q0 41-16.5 75.5T560-346Z"/></svg>');
    --icon-check: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="%237689FF"><path d="m400-449 220-219q18-18 44-18t44 18q18 18 18 44t-18 44L445-316q-19 19-45 19t-45-19L252-420q-18-18-18-44t18-44q18-18 44-18t44 18l60 59Z"/></svg>');
}