:root {
    --font-1: 'Poppins';
    --font-2: 'Space Mono';
    --glyph: 'Material Symbols Rounded';
    --font-regular: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;
    --font-size: 16px;
    --font-size-md: 14px;
    --font-size-sm: 12px;
    --stroke: 1px;
    --stroke-focus: 1px;
    --container: 1000px;
    --container-padding: 36px;
    --feed: 240px;
    --feed-2x: 360px;
    --feed-3x: 480px;
    --radius-xs: 6px;
    --radius-sm: 8px;
    --radius-md: 12px;
    --radius-lg: 16px;
    --radius-xl: 24px;
    --navbar-padding: 36px;
    --navbar-spacing: 8px;
    --navbar-gap: 24px;
    --backdrop: rgba(24, 24, 27, .6);
    --backdrop-alt: rgba(24, 24, 27, .75);
    --tooltip: rgba(24, 24, 27, .75);
    --cubic: cubic-bezier(0.4, 0, 0.2, 1);
    --cubic-alt: cubic-bezier(0.22, 1, 0.36, 1);
    --ease: .15s ease;
    --shadow-sm: 0 2px 4px rgba(0, 0, 0, 0.08);
    --shadow-md: 0 4px 8px rgba(0, 0, 0, 0.10);
    --shadow-lg: 0 8px 20px rgba(0, 0, 0, 0.12);
    --shadow-xl: 0 12px 32px rgba(0, 0, 0, 0.14);
    --shadow-subtle: 0 1px 3px rgba(0, 0, 0, 0.06), 0 4px 12px rgba(0, 0, 0, 0.08);
    --mono-00: #FFFFFF;
    --mono-05: #FBFBFC;
    --mono-10: #F8F8FA;
    --mono-20: #F0F1F4;
    --mono-30: #E0E2E6;
    --mono-40: #C9CCD3;
    --mono-50: #A9ADB7;
    --mono-60: #7F8490;
    --mono-70: #3A3C42;
    --bg: var(--mono-00);
    --card: var(--mono-00);
    --dropdown: var(--mono-00);
    --text: #3A3C42;
    --text-reverse: #FCFAFB;
    --text2-reverse: #FFFFFF;
    --odd: var(--mono-10);
    --white: #FCFAFB;
    --white-10: #FCFAFB0D;
    --white-20: #FCFAFB1E;
    --white-30: #FCFAFB3F;
    --white-40: #FCFAFB4C;
    --black: #3A3C42;
    --black-10: #3A3C420D;
    --black-20: #3A3C421E;
    --black-30: #3A3C423F;
    --black-40: #3A3C424C;
    --primary: #7689FF;
    --primary-dark: #6A7CEB;
    --primary-darker: #5C6DD7;
    --primary-10: #7689FF0D;
    --primary-20: #7689FF1E;
    --primary-30: #7689FF3F;
    --primary-40: #7689FF4C;
    --red: #E57368;
    --red-dark: #D66559;
    --red-darker: #C55749;
    --red-10: #E573680D;
    --red-20: #E573681E;
    --red-30: #E573683F;
    --red-40: #E573684C;
    --pink: #EC7FA0;
    --pink-dark: #DE7294;
    --pink-darker: #CB6181;
    --pink-10: #EC7FA00D;
    --pink-20: #EC7FA01E;
    --pink-30: #EC7FA03F;
    --pink-40: #EC7FA04C;
    --purple: #9C8EDF;
    --purple-dark: #8D80D1;
    --purple-darker: #7B6FBD;
    --purple-10: #9C8EDF0D;
    --purple-20: #9C8EDF1E;
    --purple-30: #9C8EDF3F;
    --purple-40: #9C8EDF4C;
    --blue: #6EA8E9;
    --blue-dark: #619BD9;
    --blue-darker: #5187C5;
    --blue-10: #6EA8E90D;
    --blue-20: #6EA8E91E;
    --blue-30: #6EA8E93F;
    --blue-40: #6EA8E94C;
    --teal: #4DD8C8;
    --teal-dark: #41CBBE;
    --teal-darker: #37B4A9;
    --teal-10: #4DD8C80D;
    --teal-20: #4DD8C81E;
    --teal-30: #4DD8C83F;
    --teal-40: #4DD8C84C;
    --green: #65D88C;
    --green-dark: #58CB7F;
    --green-darker: #4AAA6C;
    --green-10: #65D88C0D;
    --green-20: #65D88C1E;
    --green-30: #65D88C3F;
    --green-40: #65D88C4C;
    --yellow: #FFD866;
    --yellow-dark: #F5C95C;
    --yellow-darker: #E0B54D;
    --yellow-10: #FFD8660D;
    --yellow-20: #FFD8661E;
    --yellow-30: #FFD8663F;
    --yellow-40: #FFD8664C;
    --orange: #FFAD61;
    --orange-dark: #F29E55;
    --orange-darker: #DE8D45;
    --orange-10: #FFAD610D;
    --orange-20: #FFAD611E;
    --orange-30: #FFAD613F;
    --orange-40: #FFAD614C;
    --brown: #A8835A;
    --brown-dark: #9B7852;
    --brown-darker: #896A47;
    --brown-10: #A8835A0D;
    --brown-20: #A8835A1E;
    --brown-30: #A8835A3F;
    --brown-40: #A8835A4C;
    --default: #ECEFF1;
    --default-dark: #D9DDE1;
    --default-darker: #C9CDD2;
    --default-10: #ECEFF10D;
    --default-20: #ECEFF11E;
    --default-30: #ECEFF13F;
    --default-40: #ECEFF16C;
    --dark: #3A3C42;
    --dark-dark: #2F3035;
    --dark-darker: #2C2D31;
    --dark-10: #3A3C420D;
    --dark-20: #3A3C4215;
    --dark-30: #3A3C423F;
    --dark-40: #3A3C424C;
    --stroke-color: var(--mono-40);
    --stroke-color-hover: var(--mono-50);
    --icon-caret: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="%237C7C7D"><path d="M480-361q-8 0-15-2.5t-13-8.5L268-556q-11-11-11-28t11-28q11-11 28-11t28 11l156 156 156-156q11-11 28-11t28 11q11 11 11 28t-11 28L508-372q-6 6-13 8.5t-15 2.5Z"/></svg>');
    --icon-plus: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="%237C7C7D"><path d="M480-120q-17 0-28.5-11.5T440-160v-280H160q-17 0-28.5-11.5T120-480q0-17 11.5-28.5T160-520h280v-280q0-17 11.5-28.5T480-840q17 0 28.5 11.5T520-800v280h280q17 0 28.5 11.5T840-480q0 17-11.5 28.5T800-440H520v280q0 17-11.5 28.5T480-120Z"/></svg>');
    --icon-check: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="%233A3C42"><path d="m400-449 220-219q18-18 44-18t44 18q18 18 18 44t-18 44L445-316q-19 19-45 19t-45-19L252-420q-18-18-18-44t18-44q18-18 44-18t44 18l60 59Z"/></svg>');
    --icon-quotes: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="%233A3C42"><path d="m262-300 58-100q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 23-5.5 42.5T458-480L331-260q-5 9-14 14.5t-20 5.5q-23 0-34.5-20t-.5-40Zm360 0 58-100q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 23-5.5 42.5T818-480L691-260q-5 9-14 14.5t-20 5.5q-23 0-34.5-20t-.5-40Z"/></svg>');
    --icon-info: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="%233A3C42"><path d="M440-280h80v-240h-80v240Zm40-320q17 0 28.5-11.5T520-640q0-17-11.5-28.5T480-680q-17 0-28.5 11.5T440-640q0 17 11.5 28.5T480-600Zm0 520q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Z"/></svg>');
    --icon-success: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="%233A3C42"><path d="M360-120q-100 0-170-70t-70-170v-240q0-100 70-170t170-70h240q100 0 170 70t70 170v240q0 100-70 170t-170 70H360Zm80-200 240-240-56-56-184 184-88-88-56 56 144 144Z"/></svg>');
    --icon-warning: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="%233A3C42"><path d="m40-120 440-760 440 760H40Zm440-120q17 0 28.5-11.5T520-280q0-17-11.5-28.5T480-320q-17 0-28.5 11.5T440-280q0 17 11.5 28.5T480-240Zm-40-120h80v-200h-80v200Z"/></svg>');
    --icon-error: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="%233A3C42"><path d="M480-280q17 0 28.5-11.5T520-320q0-17-11.5-28.5T480-360q-17 0-28.5 11.5T440-320q0 17 11.5 28.5T480-280Zm-40-160h80v-240h-80v240Zm40 412L346-160H160v-186L28-480l132-134v-186h186l134-132 134 132h186v186l132 134-132 134v186H614L480-28Z"/></svg>');
    --icon-attach: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 -960 960 960' fill='%233A3C42'><path d='M640-520v-200h80v200h-80ZM440-244q-35-10-57.5-39T360-350v-370h80v476Zm30 164q-104 0-177-73t-73-177v-370q0-75 52.5-127.5T400-880q75 0 127.5 52.5T580-700v300h-80v-300q-1-42-29.5-71T400-800q-42 0-71 29t-29 71v370q-1 71 49 120.5T470-160q25 0 47.5-6.5T560-186v89q-21 8-43.5 12.5T470-80Zm170-40v-120H520v-80h120v-120h80v120h120v80H720v120h-80Z'/></svg>");
    --bg-grid: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 20 20"><path d="M20 0 L20 20 M0 20 L20 20" fill="none" stroke="%233A3C4216" stroke-width="1"/></svg>');
    --bg-dot: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"><circle cx="10" cy="10" r="1" fill="%233A3C423F"/></svg>');
    --bg-graph: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100"><g fill="none" stroke="%233A3C4216" stroke-width="1"><path d="M20 0 L20 100 M40 0 L40 100 M60 0 L60 100 M80 0 L80 100 M0 20 L100 20 M0 40 L100 40 M0 60 L100 60 M0 80 L100 80"/></g><g fill="none" stroke="%233A3C4226" stroke-width="1.4"><path d="M100 0 L100 100 M0 100 L100 100"/></g></svg>');
    --bg-stripe: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path d="M0 24 L24 0" stroke="%233A3C4216" stroke-width="1" stroke-linecap="square"/></svg>');
    --bg-plus: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path d="M12 8 L12 16 M8 12 L16 12" stroke="%233A3C4216" stroke-width="2" stroke-linecap="square"/></svg>');
    --bg-times: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"><g transform="rotate(45 12 12)"><path d="M12 8 L12 16 M8 12 L16 12" stroke="%233A3C4216" stroke-width="2" stroke-linecap="square"/></g></svg>');
    --bg-cube: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40"><path d="M20 0 L40 10 L20 20 L0 10 Z" fill="none" stroke="%233A3C4216" stroke-width="1"/><path d="M20 20 L20 40 L40 30 L40 10 Z" fill="none" stroke="%233A3C4220" stroke-width="1"/><path d="M20 20 L0 10 L0 30 L20 40 Z" fill="none" stroke="%233A3C4220" stroke-width="1"/></svg>');
    --bg-rhombus: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40"><polygon points="20,0 40,20 20,40 0,20" fill="none" stroke="%233A3C4216" stroke-width="1"/></svg>');
}