:root[data-theme=dark] {
    --tooltip: #FFFFFF;
    --mono-00: #262627;
    --mono-05: #2C2C2D;
    --mono-10: #323233;
    --mono-20: #3E3E3F;
    --mono-30: #4F4F50;
    --mono-40: #606061;
    --mono-50: #7C7C7D;
    --mono-60: #A2A2A3;
    --mono-70: #E0E0E1;
    --bg: var(--mono-00);
    --card: var(--mono-00);
    --dropdown: var(--mono-05);
    --text: #FCFAFB;
    --text-reverse: #3A3C42;
    --text-btn: #3A3C42;
    --primary: #A6B5FF;
    --primary-dark: #C6D1FF;
    --primary-darker: #D8E3FF;
    --primary-10: #A6B5FF0D;
    --primary-20: #A6B5FF1E;
    --primary-30: #A6B5FF3F;
    --primary-40: #A6B5FF4C;
    --red: #F2A49A;
    --red-dark: #F8BDBD;
    --red-darker: #FFC6BF;
    --red-10: #F2A49A0D;
    --red-20: #F2A49A26;
    --red-30: #F2A49A40;
    --red-40: #F2A49A59;
    --pink: #F7AFC2;
    --pink-dark: #FFDADE;
    --pink-darker: #FFE8EB;
    --pink-10: #F7AFC20D;
    --pink-20: #F7AFC21E;
    --pink-30: #F7AFC23F;
    --pink-40: #F7AFC24C;
    --purple: #C0B8E7;
    --purple-dark: #D9D0F6;
    --purple-darker: #E6DDFB;
    --purple-10: #C0B8E70D;
    --purple-20: #C0B8E71E;
    --purple-30: #C0B8E73F;
    --purple-40: #C0B8E74C;
    --blue: #A4C5E9;
    --blue-dark: #C8EBFF;
    --blue-darker: #D8F5FF;
    --blue-10: #A4C5E90D;
    --blue-20: #A4C5E91E;
    --blue-30: #A4C5E93F;
    --blue-40: #A4C5E94C;
    --teal: #9FE3DC;
    --teal-dark: #BAF1EB;
    --teal-darker: #D9FFF9;
    --teal-10: #9FE3DC0D;
    --teal-20: #9FE3DC1E;
    --teal-30: #9FE3DC3F;
    --teal-40: #9FE3DC4C;
    --green: #A6E4B4;
    --green-dark: #C9F7D9;
    --green-darker: #D9FFEB;
    --green-10: #A6E4B40D;
    --green-20: #A6E4B41E;
    --green-30: #A6E4B43F;
    --green-40: #A6E4B44C;
    --yellow: #FAE29F;
    --yellow-dark: #FFF2C5;
    --yellow-darker: #FEF7D5;
    --yellow-10: #FAE29F0D;
    --yellow-20: #FAE29F1E;
    --yellow-30: #FAE29F3F;
    --yellow-40: #FAE29F4C;
    --orange: #F9C58A;
    --orange-dark: #FCE2B4;
    --orange-darker: #FDECD4;
    --orange-10: #F9C58A0D;
    --orange-20: #F9C58A1E;
    --orange-30: #F9C58A3F;
    --orange-40: #F9C58A4C;
    --brown: #BDA88C;
    --brown-dark: #D5C9B7;
    --brown-darker: #E1D7C9;
    --brown-10: #BDA88C0D;
    --brown-20: #BDA88C1E;
    --brown-30: #BDA88C3F;
    --brown-40: #BDA88C4C;
    --default: #3A3C42;
    --default-dark: #494A4F;
    --default-darker: #656667;
    --default-10: #3A3C420D;
    --default-20: #3A3C421E;
    --default-30: #3A3C423F;
    --default-40: #3A3C426C;
    --default-50: #3A3C429F;
    --dark: #ECEFF1;
    --dark-dark: #FFFFFA;
    --dark-darker: #FFFFFC;
    --dark-10: #ECEFF10D;
    --dark-20: #ECEFF115;
    --dark-30: #ECEFF13F;
    --dark-40: #ECEFF14C;
    --bg-grid: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 20 20"><path d="M20 0 L20 20 M0 20 L20 20" fill="none" stroke="%23ECEFF116" stroke-width="1"/></svg>');
    --bg-dot: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"><circle cx="10" cy="10" r="1" fill="%23ECEFF126"/></svg>');
    --bg-graph: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100"><g fill="none" stroke="%23ECEFF116" stroke-width="1"><path d="M20 0 L20 100 M40 0 L40 100 M60 0 L60 100 M80 0 L80 100 M0 20 L100 20 M0 40 L100 40 M0 60 L100 60 M0 80 L100 80"/></g><g fill="none" stroke="%23ECEFF126" stroke-width="1.4"><path d="M100 0 L100 100 M0 100 L100 100"/></g></svg>');
    --bg-stripe: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path d="M0 24 L24 0" stroke="%23ECEFF116" stroke-width="1" stroke-linecap="square"/></svg>');
    --bg-plus: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path d="M12 8 L12 16 M8 12 L16 12" stroke="%23ECEFF116" stroke-width="2" stroke-linecap="square"/></svg>');
    --bg-times: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"><g transform="rotate(45 12 12)"><path d="M12 8 L12 16 M8 12 L16 12" stroke="%23ECEFF116" stroke-width="2" stroke-linecap="square"/></g></svg>');
    --bg-cube: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40"><path d="M20 0 L40 10 L20 20 L0 10 Z" fill="none" stroke="%23ECEFF116" stroke-width="1"/><path d="M20 20 L20 40 L40 30 L40 10 Z" fill="none" stroke="%23ECEFF120" stroke-width="1"/><path d="M20 20 L0 10 L0 30 L20 40 Z" fill="none" stroke="%23ECEFF120" stroke-width="1"/></svg>');
    --bg-rhombus: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40"><polygon points="20,0 40,20 20,40 0,20" fill="none" stroke="%23ECEFF116" stroke-width="1"/></svg>');
}