:root[data-theme=dark] {
    --tooltip: #FFFFFF;
    --mono-00: #1E1E1E;
    --mono-05: #2A2A2A;
    --mono-10: #2A2A2A;
    --mono-20: #383838;
    --mono-30: #4A4A4A;
    --mono-40: #5C5C5C;
    --mono-50: #7A7A7A;
    --mono-60: #A0A0A0;
    --mono-70: #E0E0E0;
    --bg: var(--mono-00);
    --card: var(--mono-00);
    --dropdown: var(--mono-05);
    --text: #FCFAFB;
    --text-reverse: #3A3C42;
    --text2-reverse: #1E1E1E;
    --brigtness: unset;
    --brigtness-reverse: brightness(5);
    --primary: #A6B5FF;
    --primary-dark: #9DA8EB;
    --primary-darker: #8B97D7;
    --primary-10: #A6B5FF0D;
    --primary-20: #A6B5FF26;
    --primary-30: #A6B5FF40;
    --primary-40: #A6B5FF59;
    --red: #F2A49A;
    --red-dark: #E2998F;
    --red-darker: #D58B80;
    --red-10: #F2A49A0D;
    --red-20: #F2A49A26;
    --red-30: #F2A49A40;
    --red-40: #F2A49A59;
    --pink: #F7AFC2;
    --pink-dark: #E8A2B8;
    --pink-darker: #DA91A6;
    --pink-10: #F7AFC20D;
    --pink-20: #F7AFC226;
    --pink-30: #F7AFC240;
    --pink-40: #F7AFC259;
    --purple: #C0B8E7;
    --purple-dark: #B4AED9;
    --purple-darker: #A29CC5;
    --purple-10: #C0B8E70D;
    --purple-20: #C0B8E726;
    --purple-30: #C0B8E740;
    --purple-40: #C0B8E759;
    --blue: #A4C5E9;
    --blue-dark: #97B8E1;
    --blue-darker: #86A7CD;
    --blue-10: #A4C5E90D;
    --blue-20: #A4C5E926;
    --blue-30: #A4C5E940;
    --blue-40: #A4C5E959;
    --teal: #9FE3DC;
    --teal-dark: #93D6CF;
    --teal-darker: #83C1B9;
    --teal-10: #9FE3DC10;
    --teal-20: #9FE3DC20;
    --teal-30: #9FE3DC30;
    --teal-40: #9FE3DC40;
    --green: #A6E4B4;
    --green-dark: #9BD6AC;
    --green-darker: #8AC298;
    --green-10: #A6E4B40D;
    --green-20: #A6E4B426;
    --green-30: #A6E4B440;
    --green-40: #A6E4B459;
    --yellow: #FAE29F;
    --yellow-dark: #F4D88D;
    --yellow-darker: #E8CA7A;
    --yellow-10: #FAE29F10;
    --yellow-20: #FAE29F20;
    --yellow-30: #FAE29F30;
    --yellow-40: #FAE29F40;
    --orange: #F9C58A;
    --orange-dark: #F1B97E;
    --orange-darker: #E3A969;
    --orange-10: #F9C58A0D;
    --orange-20: #F9C58A26;
    --orange-30: #F9C58A40;
    --orange-40: #F9C58A59;
    --brown: #BDA88C;
    --brown-dark: #B19E83;
    --brown-darker: #9F8C72;
    --brown-10: #BDA88C0D;
    --brown-20: #BDA88C26;
    --brown-30: #BDA88C40;
    --brown-40: #BDA88C59;
    --dark: #ECEFF1;
    --dark-dark: #DDE0E3;
    --dark-darker: #CBCFD4;
    --dark-10: #ECEFF126;
    --dark-20: #ECEFF159;
    --dark-30: #ECEFF18C;
    --dark-40: #ECEFF1BF;
    --default: #3A3C42;
    --default-dark: #2F3035;
    --default-darker: #2C2D31;
    --default-10: #3A3C420D;
    --default-20: #3A3C4226;
    --default-30: #3A3C423F;
    --default-40: #3A3C4259;
    --icon-quotes: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24" fill="%23A6B5FF"><path d="m262-300 58-100q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 23-5.5 42.5T458-480L331-260q-5 9-14 14.5t-20 5.5q-23 0-34.5-20t-.5-40Zm360 0 58-100q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 23-5.5 42.5T818-480L691-260q-5 9-14 14.5t-20 5.5q-23 0-34.5-20t-.5-40Z"/></svg>');
    --icon-error: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="%23F2A49A"><path d="M480-79q-16 0-30.5-6T423-102L102-423q-11-12-17-26.5T79-480q0-16 6-31t17-26l321-321q12-12 26.5-17.5T480-881q16 0 31 5.5t26 17.5l321 321q12 11 17.5 26t5.5 31q0 16-5.5 30.5T858-423L537-102q-11 11-26 17t-31 6Zm0-361q17 0 28.5-11.5T520-480v-160q0-17-11.5-28.5T480-680q-17 0-28.5 11.5T440-640v160q0 17 11.5 28.5T480-440Zm0 120q17 0 28.5-11.5T520-360q0-17-11.5-28.5T480-400q-17 0-28.5 11.5T440-360q0 17 11.5 28.5T480-320Z"/></svg>');
    --icon-warning: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="%23F9C58A"><path d="M109-120q-11 0-20-5.5T75-140q-5-9-5.5-19.5T75-180l370-640q6-10 15.5-15t19.5-5q10 0 19.5 5t15.5 15l370 640q6 10 5.5 20.5T885-140q-5 9-14 14.5t-20 5.5H109Zm371-120q17 0 28.5-11.5T520-280q0-17-11.5-28.5T480-320q-17 0-28.5 11.5T440-280q0 17 11.5 28.5T480-240Zm0-120q17 0 28.5-11.5T520-400v-120q0-17-11.5-28.5T480-560q-17 0-28.5 11.5T440-520v120q0 17 11.5 28.5T480-360Z"/></svg>');
    --icon-info: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="%23A4C5E9"><path d="M480-280q17 0 28.5-11.5T520-320v-160q0-17-11.5-28.5T480-520q-17 0-28.5 11.5T440-480v160q0 17 11.5 28.5T480-280Zm0-320q17 0 28.5-11.5T520-640q0-17-11.5-28.5T480-680q-17 0-28.5 11.5T440-640q0 17 11.5 28.5T480-600Zm0 520q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Z"/></svg>');
    --icon-success: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="%23A6E4B4"><path d="M360-120q-100 0-170-70t-70-170v-240q0-100 70-170t170-70h240q100 0 170 70t70 170v240q0 100-70 170t-170 70H360Zm80-312-60-60q-11-11-28-11t-28 11q-11 11-11 28t11 28l88 88q12 12 28 12t28-12l184-184q11-11 11-28t-11-28q-11-11-28-11t-28 11L440-432Z"/></svg>');
    --icon-announcements: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="%23A6B5FF"><path d="M840-440h-80q-17 0-28.5-11.5T720-480q0-17 11.5-28.5T760-520h80q17 0 28.5 11.5T880-480q0 17-11.5 28.5T840-440ZM664-288q10-14 26-16t30 8l64 48q14 10 16 26t-8 30q-10 14-26 16t-30-8l-64-48q-14-10-16-26t8-30Zm120-424-64 48q-14 10-30 8t-26-16q-10-14-8-30t16-26l64-48q14-10 30-8t26 16q10 14 8 30t-16 26ZM200-360h-40q-33 0-56.5-23.5T80-440v-80q0-33 23.5-56.5T160-600h160l139-84q20-12 40.5 0t20.5 35v338q0 23-20.5 35t-40.5 0l-139-84h-40v120q0 17-11.5 28.5T240-200q-17 0-28.5-11.5T200-240v-120Zm360 14v-268q27 24 43.5 58.5T620-480q0 41-16.5 75.5T560-346Z"/></svg>');
    --icon-check: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="%23A6B5FF"><path d="m400-449 220-219q18-18 44-18t44 18q18 18 18 44t-18 44L445-316q-19 19-45 19t-45-19L252-420q-18-18-18-44t18-44q18-18 44-18t44 18l60 59Z"/></svg>');
}