.color:not(.hover),
.color.hover:hover {
    color: var(--color);
}

.font-1 {
    font-family: var(--font-1);
}

.font-2 {
    font-family: var(--font-2);
}

.text-0 {
    font-size: 0;
}

.text-12 {
    font-size: 12px;
}

.text-14 {
    font-size: 14px;
}

.text-16 {
    font-size: 16px;
}

.text-18 {
    font-size: 18px;
}

.text-20 {
    font-size: 20px;
}

.text-24 {
    font-size: 24px;
}

.text-28 {
    font-size: 28px;
}

.text-36 {
    font-size: 36px;
}

.text-40 {
    font-size: 40px;
}

.text-44 {
    font-size: 44px;
}

.text-48 {
    font-size: 48px;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-justify {
    text-align: justify;
}

.text-lowercase {
    text-transform: lowercase;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-capitalize {
    text-transform: capitalize;
}

.text-underline:hover {
    text-underline-offset: 5px;
    text-decoration: underline;
}

.text-break {
    word-break: break-all;
}

.text-regular {
    font-weight: var(--font-regular);
}

.text-italic {
    font-style: italic;
}

.text-bold {
    font-weight: var(--font-semibold);
}

.text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}