@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

/* ROOT & RESET */
@import url('components/root.css');
@import url('components/root-dark.css');
@import url('components/normalize.css');

/* BASE */
@import url('components/colors.css');
@import url('components/dark-mode.css');
@import url('components/gap.css');
@import url('components/lock-selection.css');
@import url('components/margin.css');
@import url('components/radius.css');
@import url('components/width.css');

/* GLYPH */
@import url('components/glyph.css');

/* COMPONENTS */
@import url('components/alert.css');
@import url('components/background.css');
@import url('components/button.css');
@import url('components/cardset.css');
@import url('components/breadcrumbs.css');
@import url('components/formatting.css');
@import url('components/image.css');
@import url('components/navbar.css');
@import url('components/progress.css');
@import url('components/table.css');
@import url('components/text.css');
@import url('components/wrapper.css');

/* LAYOUTS */
@import url('components/flex.css');
@import url('components/grid.css');
@import url('components/layout.css');

/* FORMS */
@import url('components/forms.css');
@import url('components/form-option.css');
@import url('components/floating-label.css');

/* STATES */
@import url('components/collapsible.css');
@import url('components/copy-text.css');
@import url('components/navtabs.css');
@import url('components/modal.css');
@import url('components/dropdown.css');
@import url('components/tooltip.css');

@supports (-moz-appearance: none) {
    .show-percent>*::before {
        padding-bottom: 1px;
    }

    .tooltip-text {
        padding-top: 7px;
        padding-bottom: 9px;
    }
}